<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>liupengServlet</servlet-name>
        <servlet-class>ServletPackage.liupengServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>liupengServlet</servlet-name>
        <url-pattern>/ServletPackage/liupengServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>GetYourInformationServlet</servlet-name>
        <servlet-class>ServletPackage.GetYourInformationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetYourInformationServlet</servlet-name>
        <url-pattern>/ServletPackage/GetYourInformationServlet</url-pattern>
    </servlet-mapping>

</web-app>